x-panel {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;

	// Pseudo elements which can be used to force a new row
	&::before, &::after {
		content: "";
		flex: 0 0 100%;
		order: -1;
	}

	&::before {
		order: 4;
		order: 10;
	}

	.panel-blur {
		-webkit-filter: blur(1px);
		filter: blur(1px);

		-webkit-transform: translate3d(0,0,0);
		transform: translate3d(0,0,0);
	}

	&-avatar {
		flex: 0 0 auto;
		order: 0;
		padding: 0.7em 0 0.7em 1em;
	}

	&-tabs,
	&-title {
		flex: 1 0 auto;
		order: 3;
		padding: 0.7em 1em;
		align-self: center;
	}

	&-action {
		flex: 0 1 auto;
		order: 5;
		padding: 0.7em 1em 0.7em 0;
		align-self: center;
	}

	&-body {
		position: relative;
		flex: 1 0 100%;
		order: 7;
		padding: 1em;
	}

	&[tabs] {
		x-panel-body {
			&:not(.active) {
				display: none;
			}
		}
	}

	&-footer {
		flex: 1 0 auto;
		order: 9;
		padding: 0.7em 1em;
	}

	&-overlay {
		background-color: rgba(100,100,100,0.2);
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 2;
	}
}